#root {
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background-color: #444;
  overflow-y: scroll;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}
#homePageDesktop {
  background-image: url('./assets/bg-2.png');
  background-size: contain;
  background-position-x: right;
}
#homePageDesktopDiv {
  background-color: #141414;
}

/* Navbar */
