#root {
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body {
  background-color: #444;
  overflow-y: scroll;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	background-color: #000000;
}

body::-webkit-scrollbar
{
	width: 1px;
	background-color: #000000;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

#homePageDesktop {
  background-image: url('/assets/bg-2.png');
  background-size: contain;
  background-position-x: right;
}
#homePageDesktopDiv {
  background-color: #141414;
}
#app{
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#app::-webkit-scrollbar {
  display: none;
}

.footer-links {
  position: relative;
}

.footer-links::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #e4e4e7;
  transition: all 0.5s ease;
}
.footer-links:hover::before {
  width: 100%;
}